* {
    box-sizing: border-box;
    font-family: 'Calibri',fantasy;
    font-size: 20px;
}

body {
    background-image: url(images/02.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 90px;
    font-family: 'INK Free', cursive;
    text-align: center;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: #ffffff;
}

header .brand {
    color: #000000;
    font-size: 30px;
    text-decoration: none;
}

.navigation {
    display: flex;
}

.navigation-items a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: #ffffff;
}

footer .brand {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.footer-navigation {
    display: flex;
}

.footer-navigation a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}
